.centreLogin{
  margin-top: 20rem;
}

.formLogin{
  padding:2rem;
  background-color: #888;
  border-radius: 10px;
}

.sectionNameStore{
  width: 15rem;
}

.sectionButtonStore {
  width: 10rem;
}
.centreLogin{
  margin-top: 20rem;
}

.formLogin{
  padding:2rem;
  background-color: #888;
  border-radius: 10px;
}

body{
  background-color:#474747!important;
}

.cartesSection{
  margin-top: 10px!important;
}

.addForm{
  width:50rem;
}
