{{page-title "Add"}}
<div class="ui segment">
  <form class="ui form">
    <div class="field">
      <label>Nom de la section</label>
      <Input type="text" name="nom-section" placeholder="Nom de la section"/>
    </div>
    <div class="field">
      <label>Description</label>
      <Input type="textarea" name="description" placeholder="Description"/>
    </div>
    <button class="ui button" type="submit">Submit</button>
  </form>
</div>
{{outlet}}