{{page-title "Store"}}

{{!-- The following component displays Ember's default welcome message. --}}
{{!-- Feel free to remove this! --}}
<div>
  <div class="ui inverted secondary pointing menu">
    <a class="ui item" href="../../../../gestionStock">
      Gestion du Stock
    </a>
    <a class="ui item" href="../../../../store">
      Gestion du Store
    </a>
    <a class="ui item" href="../../../../dashboard">
      Gestion des Commandes
    </a>
    <div class="right menu">
      <a class="ui item">
        <div class="ui label">{{@model.connected.email}}</div>
      </a>
    </div>
  </div>
  {{outlet}}
</div>