{{page-title "GestionStock"}}
<div style="background-color:#333;font-size: 30px;width:200px;float:left;">
  <ul class="list-group list-group-flush">
    {{#each @model as |section|}}
      <li class="list-group-item">
        <a class="btn btn-light" href="../../gestionStock/section/{{section.id}}">
          {{section.name}}
        </a>
      </li>
    {{/each}}
  </ul>
</div>
{{outlet}}