{{page-title "GestionStock"}}
<div style="float:left;width:19rem;background-color: white;height: calc(100vh - 47px);top:47px;position: fixed;">
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      Sections :
    </li>
    {{#each @model as |section|}}
      <li class="list-group-item">
        <LinkTo class="btn btn-light" @route="gestionStock.section" @model={{section.id}}>
          {{section.name}}
        </LinkTo>
      </li>
    {{/each}}
  </ul>
</div>
<div id="choix" class="ui placeholder segment" style="margin:0;margin-left: 266px;">
  <div class="ui icon header">
    <i class="search icon"></i>
      Choisissez une section
  </div>
</div>
{{outlet}}