{{page-title "GestionStock"}}
<div style="float:left;width:19rem;background-color: white">
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <a class="btn btn-light">
        Sections :
      </a>
    </li>
    {{#each @model as |section|}}
      <li class="list-group-item">
        <LinkTo class="btn btn-light" @route="gestionStock.section" @model={{section.id}}>
          {{section.name}}
        </LinkTo>
      </li>
    {{/each}}
    <li class="list-group-item" style="height: 2500px">
    </li>
  </ul>
</div>
<div id="choix" class="ui placeholder segment">
  <div class="ui icon header">
    <i class="search icon"></i>
      Choisissez une section
  </div>
</div>
{{outlet}}