{{page-title "GestionStock"}}
<div style="float:left;">
  <ul class="list-group list-group-flush">
    {{#each @model as |section|}}
      <li class="list-group-item">
        <a class="btn btn-light" href="../../gestionStock/section/{{section.id}}">
          {{section.name}}
        </a>
      </li>
    {{/each}}
  </ul>
  <div class="ui small action input">
  <input type="number" placeholder="Ajouter">
  <button class="ui icon button">
    <i class="plus icon"></i>
  </button>
</div>
</div>
{{outlet}}