{{page-title "GestionStock"}}
<div style="float:left;">
  <ul class="list-group list-group-flush">
    {{#each @model as |section|}}
      <li class="list-group-item">
        <a class="btn btn-light" href="../../gestionStock/section/{{section.id}}">
          {{section.name}}
        </a>
      </li>
    {{/each}}
  </ul>
  <div style="margin-left:3rem" class="ui vertical animated button" tabindex="0">
    <div class="hidden content">Modifier</div>
    <div class="visible content">
      <i class="edit icon"></i>
    </div>
  </div>
</div>
{{outlet}}